.git
.gitignore
.claude
.gemini
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
docker-compose.yml
docker-compose.yaml
Dockerfile*
npm-debug.log
yarn-error.log
coverage
tests
docs
engine-poc
